!!! 5
%head
  %link(rel="stylesheet" type="text/css" href="assets/css/components.css")
  %link(rel="stylesheet" type="text/css" href="assets/css/application.css")
%body
  .row.collapse
    .large-12.columns
      %h1
        Suitor
  .row.collapse
    .tagline
      %p
        Woo your sweetheart with charming messages
    .description
      %p
        Enter a phone number and subreddit below and we'll
        have your courtee swooning in no time.

  %form(id="charm-form" action="/charm" method="POST")
    - if charm.invalid?
      .validation-errors
        Please correct the following:
        .validation-message
          = charm.validation_message

    .row.collapse
      .small-3.large-2.columns
        %span.prefix Phone
      .small-9.large-10.columns
        %input{type: "text", name: "phone_number", value:"#{charm.phone_number}", class:"#{charm[:phone_number].state}", placeholder: "Enter a phone number", autofocus: "autofocus"}
    .row.collapse
      .small-3.large-2.columns
        %span.prefix /r/
      .small-9.large-10.columns
        %input{type:"text", name:"subreddit", placeholder:"Enter a subreddit", value: "#{charm.subreddit}"}

    .row.collapse
      .large-12.columns.submit
        %input(class="button expand" type="submit" value="Send Message")

  .row.collapse
    .small-12.column
      - if charm.failed_dispatch?
        .dispatch-error
          %h3 Failed to send charm.
          %p= charm.dispatch_error

  .last-charm.row.collapse
    - if charm.dispatched?
      .small-12.column.pinched
        %h3.dispatch-success
          Swooned.
        %p
          = charm.message

  %script(type="text/javascript" src="assets/js/vendor.js")
  %script(type="text/javascript" src="assets/js/templates.js")
  %script(type="text/javascript" src="assets/js/application.js")
