%head
  %link(rel="stylesheet" type="text/css" href="assets/css/components.css")
  %link(rel="stylesheet" type="text/css" href="assets/css/application.css")
%body
  .row.collapse
    .large-12.columns
      %h1
        Suitor

  %form(id="charm-form" action="/charm" method="POST")
    - if charm.invalid?
      .validation-errors
        Please correct the following:
        .validation-message
          = charm.validation_message

    .row.collapse
      .large-12.columns
        %label
          Phone Number
          %input{type: "text", name: "phone_number", value:"#{charm.fields[:phone_number].value}", class:"#{charm[:phone_number].state}"}
    .row.collapse
      .small-3.large-2.columns
        %span.prefix /r/
      .small-9.large-10.columns
        %input(type="text" name="subreddit" placeholder="Enter your subreddit")

    .row.collapse
      .large-12.columns
        %input(class="button expand" type="submit" value="Charm")

  - if charm.failed_dispatch?
    .dispatch-error
      %h2 Failed to send charm.
      %p= charm.dispatch_error

  - if charm.dispatched?
    .dispatch-success
      Charm sent!
    .last-charm
      = charm.message
